VITE_API_BASE_URL=http://localhost:8787/api
VITE_DEFAULT_VLESS_URI=vless://196c473b-d1f1-4a2b-b4a9-d6a7ceffb9e9@94.241.168.203:8443?type=tcp&encryption=none&security=reality&pbk=wrhEjfXA3XfYlzOoautPDXfzOl0geNE0oYKVkLHAPyk&fp=chrome&sni=ya.ru&sid=d394&spx=%2F&flow=xtls-rprx-vision#pvpn-NIKITA
